# `update = none` makes `git submodule update` a no-op. This prevents wasteful work on e.g. MELPA.
# Checkouts can be done explicitly with `git submodule update --checkout`.

# `ignore = dirty` makes `git status` ignore untracked files and uncommited changes in submodules.
# This reduces noises when working on the grammars.

# `branch =` allows using `git submodule update --checkout --remote` to update to the latest
# revision of a remote branch.

[submodule "repos/agda"]
	path = repos/agda
	url = https://github.com/tree-sitter/tree-sitter-agda
	update = none
	ignore = dirty
	branch = master
[submodule "repos/bash"]
	path = repos/bash
	url = https://github.com/tree-sitter/tree-sitter-bash
	update = none
	ignore = dirty
	branch = master
[submodule "repos/c"]
	path = repos/c
	url = https://github.com/tree-sitter/tree-sitter-c
	update = none
	ignore = dirty
	branch = master
[submodule "repos/c-sharp"]
	path = repos/c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp
	update = none
	ignore = dirty
	branch = master
[submodule "repos/cpp"]
	path = repos/cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
	update = none
	ignore = dirty
	branch = master
[submodule "repos/css"]
	path = repos/css
	url = https://github.com/tree-sitter/tree-sitter-css
	update = none
	ignore = dirty
	branch = master
[submodule "repos/elm"]
	path = repos/elm
	url = https://github.com/razzeee/tree-sitter-elm
	update = none
	ignore = dirty
	branch = main
[submodule "repos/fluent"]
	path = repos/fluent
	url = https://github.com/tree-sitter/tree-sitter-fluent
	update = none
	ignore = dirty
	branch = master
[submodule "repos/gleam"]
	path = repos/gleam
	url = https://github.com/gleam-lang/tree-sitter-gleam
	update = none
	ignore = dirty
	branch = main
[submodule "repos/go"]
	path = repos/go
	url = https://github.com/tree-sitter/tree-sitter-go
	update = none
	ignore = dirty
	branch = master
[submodule "repos/html"]
	path = repos/html
	url = https://github.com/tree-sitter/tree-sitter-html
	update = none
	ignore = dirty
	branch = master
[submodule "repos/janet-simple"]
	path = repos/janet-simple
	url = https://github.com/sogaiu/tree-sitter-janet-simple
	update = none
	ignore = dirty
	branch = master
[submodule "repos/java"]
	path = repos/java
	url = https://github.com/tree-sitter/tree-sitter-java
	update = none
	ignore = dirty
	branch = master
[submodule "repos/javascript"]
	path = repos/javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript
	update = none
	ignore = dirty
	branch = master
[submodule "repos/jsdoc"]
	path = repos/jsdoc
	url = https://github.com/tree-sitter/tree-sitter-jsdoc
	update = none
	ignore = dirty
	branch = master
[submodule "repos/json"]
	path = repos/json
	url = https://github.com/tree-sitter/tree-sitter-json
	update = none
	ignore = dirty
	branch = master
[submodule "repos/julia"]
	path = repos/julia
	url = https://github.com/tree-sitter/tree-sitter-julia
	update = none
	ignore = dirty
	branch = master
[submodule "repos/ocaml"]
	path = repos/ocaml
	url = https://github.com/tree-sitter/tree-sitter-ocaml
	update = none
	ignore = dirty
	branch = master
[submodule "repos/php"]
	path = repos/php
	url = https://github.com/tree-sitter/tree-sitter-php
	update = none
	ignore = dirty
	branch = master
[submodule "repos/python"]
	path = repos/python
	url = https://github.com/tree-sitter/tree-sitter-python
	update = none
	ignore = dirty
	branch = master
[submodule "repos/ruby"]
	path = repos/ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby
	update = none
	ignore = dirty
	branch = master
[submodule "repos/rust"]
	path = repos/rust
	url = https://github.com/tree-sitter/tree-sitter-rust
	update = none
	ignore = dirty
	branch = master
[submodule "repos/scala"]
	path = repos/scala
	url = https://github.com/tree-sitter/tree-sitter-scala
	update = none
	ignore = dirty
	branch = master
[submodule "repos/swift"]
	path = repos/swift
	url = https://github.com/alex-pinkus/tree-sitter-swift.git
	update = none
	ignore = dirty
	branch = main
[submodule "repos/typescript"]
	path = repos/typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript
	update = none
	ignore = dirty
	branch = master
[submodule "repos/pgn"]
	path = repos/pgn
	url = https://github.com/rolandwalker/tree-sitter-pgn.git
	update = none
	ignore = dirty
	branch = master
[submodule "repos/hcl"]
	path = repos/hcl
	url = https://github.com/MichaHoffmann/tree-sitter-hcl
	update = none
	ignore = dirty
	branch = main
[submodule "repos/elixir"]
	path = repos/elixir
	url = https://github.com/elixir-lang/tree-sitter-elixir
	branch = main
	update = none
	ignore = dirty
[submodule "repos/d"]
	path = repos/d
	url = https://github.com/CyberShadow/tree-sitter-d/
	branch = master
	update = none
	ignore = dirty
[submodule "repos/nix"]
	path = repos/nix
	url = https://github.com/nix-community/tree-sitter-nix
	branch = master
	update = none
	ignore = dirty
[submodule "repos/prisma"]
	path = repos/prisma
	url = https://github.com/LumaKernel/tree-sitter-prisma
	branch = master
	update = none
	ignore = dirty
[submodule "repos/haskell"]
	path = repos/haskell
	url = https://github.com/tree-sitter/tree-sitter-haskell
	branch = master
	update = none
	ignore = dirty
[submodule "repos/zig"]
	path = repos/zig
	url = https://github.com/maxxnino/tree-sitter-zig
	branch = main
	update = none
	ignore = dirty
[submodule "repos/verilog"]
	path = repos/verilog
	url = https://github.com/tree-sitter/tree-sitter-verilog.git
	branch = master
	update = none
	ignore = dirty
[submodule "repos/yaml"]
	path = repos/yaml
	url = https://github.com/ikatyang/tree-sitter-yaml
	branch = master
	update = none
	ignore = dirty
[submodule "repos/erlang"]
	path = repos/erlang
	url = https://github.com/WhatsApp/tree-sitter-erlang
	branch = main
	update = none
	ignore = dirty
[submodule "repos/r"]
	path = repos/r
	url = https://github.com/r-lib/tree-sitter-r.git
	branch = main
	update = none
	ignore = dirty
[submodule "repos/lua"]
	path = repos/lua
	url = https://github.com/MunifTanjim/tree-sitter-lua
	branch = main
	update = none
	ignore = dirty
[submodule "repos/toml"]
	path = repos/toml
	url = https://github.com/ikatyang/tree-sitter-toml.git
	update = none
	ignore = dirty
[submodule "repos/markdown"]
	path = repos/markdown
	url = https://github.com/tree-sitter-grammars/tree-sitter-markdown.git
	branch = split_parser
	update = none
	ignore = dirty
[submodule "repos/markdown-inline"]
	path = repos/markdown-inline
	url = https://github.com/tree-sitter-grammars/tree-sitter-markdown.git
	branch = split_parser
	update = none
	ignore = dirty
[submodule "repos/scheme"]
	path = repos/scheme
	url = https://github.com/6cdh/tree-sitter-scheme
	branch = main
	update = none
	ignore = dirty
[submodule "repos/smithy"]
	path = repos/smithy
	url = https://github.com/indoorvivants/tree-sitter-smithy
	branch = main
	update = none
	ignore = dirty
[submodule "repos/fennel"]
	path = repos/fennel
	url = https://github.com/TravonteD/tree-sitter-fennel
	branch = master
	update = none
	ignore = dirty
[submodule "repos/clojure"]
	path = repos/clojure
	url = https://github.com/sogaiu/tree-sitter-clojure
	branch = master
	update = none
	ignore = dirty
[submodule "repos/magik"]
	path = repos/magik
	url = https://github.com/krn-robin/tree-sitter-magik
	branch = main
	update = none
	ignore = dirty
[submodule "repos/meson"]
	path = repos/meson
	url = https://github.com/Decodetalkers/tree-sitter-meson
	branch = master
	update = none
	ignore = dirty
[submodule "repos/matlab"]
	path = repos/matlab
	url = https://github.com/acristoffers/tree-sitter-matlab
	branch = main
	update = none
	ignore = dirty
[submodule "repos/noir"]
	path = repos/noir
	url = https://github.com/hhamud/tree-sitter-noir
	branch = main
	update = none
	ignore = dirty
[submodule "repos/dart"]
	path = repos/dart
	url = https://github.com/UserNobody14/tree-sitter-dart
	branch = master
	update = none
	ignore = dirty
[submodule "repos/elisp"]
	path = repos/elisp
	url = https://github.com/Wilfred/tree-sitter-elisp
	branch = main
	update = none
	ignore = dirty
[submodule "repos/beancount"]
	path = repos/beancount
	url = https://github.com/polarmutex/tree-sitter-beancount
	branch = master
	update = none
	ignore = dirty
[submodule "repos/bibtex"]
	path = repos/bibtex
	url = https://github.com/latex-lsp/tree-sitter-bibtex
	branch = master
	update = none
	ignore = dirty
[submodule "repos/kotlin"]
	path = repos/kotlin
	url = https://github.com/fwcd/tree-sitter-kotlin
	branch = main
	update = none
	ignore = dirty
[submodule "repos/jai"]
	path = repos/jai
	url = https://github.com/Pyromuffin/tree-sitter-jai
	branch = master
	update = none
	ignore = dirty
[submodule "repos/gdscript"]
	path = repos/gdscript
	url = https://github.com/PrestonKnopp/tree-sitter-gdscript
	branch = master
	update = none
	ignore = dirty
[submodule "repos/perl"]
	path = repos/perl
	url = https://github.com/tree-sitter-perl/tree-sitter-perl
	branch = master
	update = none
	ignore = dirty
[submodule "repos/dockerfile"]
	path = repos/dockerfile
	url = https://github.com/camdencheek/tree-sitter-dockerfile
	branch = main
	update = none
	ignore = dirty
[submodule "repos/latex"]
	path = repos/latex
	url = https://github.com/latex-lsp/tree-sitter-latex
	branch = master
	update = none
	ignore = dirty
[submodule "repos/ada"]
	path = repos/ada
	url = https://github.com/briot/tree-sitter-ada
	branch = master
	update = none
	ignore = dirty
[submodule "repos/vhdl"]
	path = repos/vhdl
	url = https://github.com/alemuller/tree-sitter-vhdl
	branch = main
	update = none
	ignore = dirty
[submodule "repos/xml"]
	path = repos/xml
	url = https://github.com/tree-sitter-grammars/tree-sitter-xml
	branch = master
	update = none
	ignore = dirty
[submodule "repos/jsonnet"]
	path = repos/jsonnet
	url = https://github.com/sourcegraph/tree-sitter-jsonnet
	branch = main
	update = none
	ignore = dirty
[submodule "repos/pascal"]
	path = repos/pascal
	url = https://github.com/Isopod/tree-sitter-pascal
	branch = master
	update = none
	ignore = dirty
[submodule "repos/fortran"]
	path = repos/fortran
	url = https://github.com/stadelmanma/tree-sitter-fortran
	branch = master
	update = none
	ignore = dirty
[submodule "repos/comment"]
	path = repos/comment
	url = https://github.com/stsewd/tree-sitter-comment
	branch = master
	update = none
	ignore = dirty
[submodule "repos/cmake"]
	path = repos/cmake
	url = https://github.com/uyha/tree-sitter-cmake
	branch = master
	update = none
	ignore = dirty
[submodule "repos/asm"]
	path = repos/asm
	url = https://github.com/rush-rs/tree-sitter-asm
	branch = main
	update = none
	ignore = dirty
[submodule "repos/mermaid"]
	path = repos/mermaid
	url = https://github.com/monaqa/tree-sitter-mermaid
	branch = master
	update = none
	ignore = dirty
[submodule "repos/rst"]
	path = repos/rst
	url = https://github.com/stsewd/tree-sitter-rst/
	branch = master
	update = none
	ignore = dirty
[submodule "repos/ocaml-interface"]
	path = repos/ocaml-interface
	url = https://github.com/tree-sitter/tree-sitter-ocaml
	branch = master
	update = none
	ignore = dirty
[submodule "repos/make"]
	path = repos/make
	url = https://github.com/alemuller/tree-sitter-make
	branch = main
	update = none
	ignore = dirty
[submodule "repos/sql"]
	path = repos/sql
	url = https://github.com/DerekStride/tree-sitter-sql
	branch = main
	update = none
	ignore = dirty
[submodule "repos/gitattributes"]
	path = repos/gitattributes
	url = https://github.com/ObserverOfTime/tree-sitter-gitattributes
	branch = master
	update = none
	ignore = dirty
[submodule "repos/gitignore"]
	path = repos/gitignore
	url = https://github.com/shunsambongi/tree-sitter-gitignore
	branch = main
	update = none
	ignore = dirty
[submodule "repos/gitcommit"]
	path = repos/gitcommit
	url = https://github.com/gbprod/tree-sitter-gitcommit
	branch = main
	update = none
	ignore = dirty
[submodule "repos/git-rebase"]
	path = repos/git-rebase
	url = https://github.com/the-mikedavis/tree-sitter-git-rebase
	branch = main
	update = none
	ignore = dirty
[submodule "repos/solidity"]
	path = repos/solidity
	url = https://github.com/JoranHonig/tree-sitter-solidity
	branch = master
	update = none
	ignore = dirty
[submodule "repos/glsl"]
	path = repos/glsl
	url = https://github.com/theHamsta/tree-sitter-glsl
	branch = master
	update = none
	ignore = dirty
[submodule "repos/hlsl"]
	path = repos/hlsl
	url = https://github.com/theHamsta/tree-sitter-hlsl
	branch = master
	update = none
	ignore = dirty
[submodule "repos/commonlisp"]
	path = repos/commonlisp
	url = https://github.com/theHamsta/tree-sitter-commonlisp
	branch = master
	update = none
	ignore = dirty
[submodule "repos/arduino"]
	path = repos/arduino
	url = https://github.com/ObserverOfTime/tree-sitter-arduino
	branch = master
	update = none
	ignore = dirty
[submodule "repos/astro"]
	path = repos/astro
	url = https://github.com/virchau13/tree-sitter-astro
	branch = master
	update = none
	ignore = dirty
[submodule "repos/heex"]
	path = repos/heex
	url = https://github.com/phoenixframework/tree-sitter-heex
	branch = main
	update = none
	ignore = dirty
[submodule "repos/tcl"]
	path = repos/tcl
	url = https://github.com/lewis6991/tree-sitter-tcl
	branch = main
	update = none
	ignore = dirty
[submodule "repos/fish"]
	path = repos/fish
	url = https://github.com/ram02z/tree-sitter-fish
	branch = master
	update = none
	ignore = dirty
[submodule "repos/csv"]
	path = repos/csv
	url = https://github.com/amaanq/tree-sitter-csv
	branch = master
	update = none
	ignore = dirty
[submodule "repos/groovy"]
	path = repos/groovy
	url = https://github.com/Decodetalkers/tree-sitter-groovy
	update = none
	ignore = dirty
	branch = master
[submodule "repos/typst"]
	path = repos/typst
	url = https://github.com/uben0/tree-sitter-typst
	update = none
	ignore = dirty
	branch = master
[submodule "repos/org"]
	path = repos/org
	url = https://github.com/milisims/tree-sitter-org
	update = none
	ignore = dirty
	branch = main
[submodule "repos/twig"]
	path = repos/twig
	url = https://github.com/gbprod/tree-sitter-twig
	update = none
	ignore = dirty
	branch = main
[submodule "repos/llvm"]
	path = repos/llvm
	url = https://github.com/benwilliamgraham/tree-sitter-llvm
	update = none
	ignore = dirty
	branch = main
[submodule "repos/racket"]
	path = repos/racket
	url = https://github.com/6cdh/tree-sitter-racket
	update = none
	ignore = dirty
	branch = main
[submodule "repos/tablegen"]
	path = repos/tablegen
	url = https://github.com/Flakebi/tree-sitter-tablegen
	update = none
	ignore = dirty
	branch = master
[submodule "repos/llvm-mir"]
	path = repos/llvm-mir
	url = https://github.com/Flakebi/tree-sitter-llvm-mir
	update = none
	ignore = dirty
	branch = master
[submodule "repos/actionscript"]
	path = repos/actionscript
	url = https://github.com/Rileran/tree-sitter-actionscript
	update = none
	ignore = dirty
	branch = main
[submodule "repos/ninja"]
	path = repos/ninja
	url = https://github.com/alemuller/tree-sitter-ninja
	update = none
	ignore = dirty
	branch = main
[submodule "repos/svelte"]
	path = repos/svelte
	url = https://github.com/Himujjal/tree-sitter-svelte
	update = none
	ignore = dirty
	branch = master
[submodule "repos/haxe"]
	path = repos/haxe
	url = https://github.com/vantreeseba/tree-sitter-haxe
	update = none
	ignore = dirty
	branch = main
[submodule "repos/doxygen"]
	path = repos/doxygen
	url = https://github.com/tree-sitter-grammars/tree-sitter-doxygen
	update = none
	ignore = dirty
	branch = master
[submodule "repos/purescript"]
	path = repos/purescript
	url = https://github.com/postsolar/tree-sitter-purescript
	update = none
	ignore = dirty
	branch = main
[submodule "repos/vim"]
	path = repos/vim
	url = https://github.com/neovim/tree-sitter-vim
	branch = master
	update = none
	ignore = dirty
