name: CI

on:
  push:
    branches:
      - master
      - github-actions          # To test changes related to GitHub Actions.
      - ci                      # To test all CI changes.
    paths-ignore:
      - README.org
      - CHANGELOG.md
  pull_request:
    branches:
      - master
    paths-ignore:
      - README.org
      - CHANGELOG.md
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15-intel
          - ubuntu-24.04
        emacs-version:
          - '28.2'
          - '29.4'
        target:
          - ""
        include:
          - os: windows-2022
            emacs-version: '27.2'
            target: ""
          - os: ubuntu-24.04
            emacs-version: '28.2'
            # Cross build
            target: aarch64-unknown-linux-gnu
          - os: macos-15
            emacs-version: '28.2'
            # Cross build
            target: aarch64-apple-darwin
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - run: .github/script/setup

      # Cross build
      - uses: mlugg/setup-zig@v2
        if: matrix.target == 'aarch64-unknown-linux-gnu'
        with:
          version: 0.13.0

      - uses: actions/setup-python@v6
        with:
          python-version: '3.10' 

      - name: Install tree-sitter CLI
        run: npm install -g tree-sitter-cli@0.26.3

      - uses: jcs090218/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - uses: emacs-eask/setup-eask@master
        with:
          version: 'snapshot'

      - run: eask install-deps

      - run: script/compile changed ${{ github.event.pull_request.base.sha }} -target "${{ matrix.target }}"
        if: github.event_name == 'pull_request'
        #continue-on-error: ${{ !matrix.target }}
        continue-on-error: true

      - run: script/compile all -target "${{ matrix.target }}"
        if: github.event_name != 'pull_request'
        #continue-on-error: ${{ !matrix.target }}
        continue-on-error: true

      - run: script/inspect-binaries
        continue-on-error: true

      - run: script/test
        if: ${{ !matrix.target }}
        # XXX: For some reason, Windows builds correctly
        # but still report error.
        continue-on-error: ${{ runner.os == 'Windows' }}

  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - run: .github/script/setup

      - name: Set up ts_query_ls
        run: curl -fL https://github.com/ribru17/ts_query_ls/releases/latest/download/ts_query_ls-x86_64-unknown-linux-gnu.tar.gz | tar -xz

      - name: Check query formatting
        run: ./ts_query_ls format --check queries/

      - name: Lint queries
        run: ./ts_query_ls lint queries/
