name: CI

on:
  push:
    branches:
      - master
      - github-actions          # To test changes related to GitHub Actions.
      - ci                      # To test all CI changes.
    paths-ignore:
      - README.org
      - CHANGELOG.md
  pull_request:
    branches:
      - master
    paths-ignore:
      - README.org
      - CHANGELOG.md
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          - ubuntu-22.04
        emacs-version:
          - '28.2'
          - '29.4'
        target:
          - ""
        include:
          - os: windows-2019
            emacs-version: '27.2'
            target: ""
          - os: ubuntu-22.04
            emacs-version: '28.2'
            # Cross build
            target: aarch64-unknown-linux-gnu
          - os: macos-13
            emacs-version: '28.2'
            # Cross build
            target: aarch64-apple-darwin
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: .github/script/setup

      # Cross build
      - uses: mlugg/setup-zig@v1
        if: matrix.target == 'aarch64-unknown-linux-gnu'
        with:
          version: 0.13.0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - name: Install tree-sitter CLI
        run: npm install -g tree-sitter-cli@0.19.3

      - uses: jcs090218/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - uses: emacs-eask/setup-eask@master
        with:
          version: 'snapshot'

      - run: eask install-deps

      - run: script/compile changed ${{ github.event.pull_request.base.sha }} -target "${{ matrix.target }}"
        if: github.event_name == 'pull_request'
        continue-on-error: ${{ !matrix.target }}
      - run: script/compile all -target "${{ matrix.target }}"
        if: github.event_name != 'pull_request'
        continue-on-error: ${{ !matrix.target }}

      - run: script/inspect-binaries
        continue-on-error: true
      - run: script/test
        if: ${{ !matrix.target }}
        continue-on-error: ${{ runner.os == 'Windows' }}
