# This is a basic workflow to help you get started with Actions

name: Shell

# Controls when the action will run.
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      revision:
        required: true
        default: 'master'
      platform:
        required: true
        default: ubuntu-latest

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ${{ github.event.inputs.platform }}
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.inputs.revision }}
    - uses: mxschmitt/action-tmate@v3
      name: Setup tmate session
      with:
        limit-access-to-actor: true
